@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Fraunces", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(10,7,123);
  background: linear-gradient(45deg, rgba(10,7,123,1) 0%, rgba(0,199,211,1) 100%);
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(10,7,123);
  background: linear-gradient(45deg, rgba(10,7,123,1) 0%, rgba(0,199,211,1) 100%);
}
